.main-header {
  background-image: url(../images/header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 0;
  background-color: #676767;
  color: white;
  background-blend-mode:  multiply;
}

.container-fluid {
  overflow: hidden;
}

.hero-gambar {
  width: 15%;
  margin-bottom: 2%;
}

.main-intro {
  background-color: #DDDDDD;
  padding:10% 0;
}

.main-facilities{
  padding:12% 0;
}

.main-facilities h6 {
  margin-bottom: 10%;
}

.main-wfh{
  background-color: #DDDDDD;
  padding:12% 0;
}

.main-wfh h6 {
  margin-bottom: 10%;
}

.main-title {
  margin-bottom: 4%;
}

.main-contact {
  padding: 10% 0;
}

.main-contact h4 {
  margin-bottom: 4%;
}

.main-footer {
  background-color: black;
  color: white;
  padding: 5% 0;
}
